.App__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #337AB7;
}
.RegistarteForm__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    .App__container{
      flex-direction: column;
    }
  }